@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One'); 

:root {

  --bck: #7B92AA;
  --bck2: #536980;
  --bck3:#0F3551;
  --el: #3498db;
  --circle: #C6C9D0;
  --orange:#E8745D;
  --blue: #058DD8;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body{
  background: linear-gradient(#0C1921,#162D3C) ;
  
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

h1{
  
  font-size: 48px;
  color: white;
  margin-bottom: 100px;
  margin-left: -30%;
  display: inline-block;
  border-bottom: 2px solid var(--blue);
  
}

.ourTeam{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  width: 250px;
  margin: 5px;
  background: #213847;
  padding: 20px 10px;

}

.member-img{
  background: var(--circle);
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

/* image one */
.one{   
  width:400px;
  height: 400px;
  margin-top: -115px;
  margin-left: -120px;
  
 
}

/* image two */
.two{
  width:400px;
  height: 400px;
  margin-top: -110px;
  margin-left: -115px;
}

/* image three */

.three{
  width:400px;
  height: 400px;
  margin-top: -110px;
  margin-left: -115px;

}

h3{
  text-transform: uppercase;
  font-size:18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.ourTeam .team-member span {
  font-size: 10px;
}

p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

}

.social-media{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--circle);
  opacity: .9;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition:all 0.5s ease;
  
}

.social-media .item{
  margin: 0 10px;
}

.social-media .fab{
  color: var(--blue);
  font-size:20px;
  margin-left: 6px;
  margin-right: 6px;
}



.social-media .fa{
  color: var(--blue);
  font-size:20px;
}

.ourTeam .team-member .member-img:hover .social-media{
  transform: scale(1);
}