:root {
  --text: #DCCAE9;
  --softpurple: #A6A9C8;
  --text2: #D3D9E9;
  --dark: #31293F;
  --dark2: #272932;
  --middletone: #554D74;
  --button: #FFB6C1;
}

.navbar {
  position: absolute;
  top: -140px;
  width: 80%;
  
}
.navbar-brand {
  font-size: 30px !important;
}

#navbarNav{
  margin-left: 0;
  position: absolute;
  right: 10px;

}
#navbarNav li {
  margin-left: 30px;
  font-size: 20px;

}


/* Jumbotron  */
.jumbotron {
  background-image: url(../images/image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(80vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.jumbotext {
  min-width: 700px;
  color: white;
  text-align: center !important;
  margin-bottom: 60px;
  font-weight: bold;
  
}

.jumbotext h1 {
  font-size: 80px;
  margin: 10px;
}


.jumbotext p {
  color: var(--text2);
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* search input style */

.input-group {
  border-radius: 50%;
  background: transparent !important;
}

.form-control {
  height: 60px !important;
  border: none;
}


/* Button */

#searchButton{
  top:10px;
  border-radius: 0;
  transition: ease-in;
  border-radius: 5px;
  background: var(--middletone);
  color: var(--softpurple);

}

#searchButton:hover{
  color: var(--text) !important;

}

.btn-group {
  position:absolute;
  left: 70px;
  cursor: pointer;
}


/* Grid styling */

.container-fluid {
  width: 90% !important;
}

.grid-gap {
  border: 5px solid white;
  background-color: var(--middletone);
  height: 300px;
}

