:root {
  --text: #DCCAE9;
  --softpurple: #A6A9C8;
  --text2: #D3D9E9;
  --dark: #31293F;
  --dark2: #272932;
  --middletone: #554D74;
  --button: #FFB6C1;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}




.jumbotron {
  background-image: url(../images/image3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: absolute;
  top: -50px;
  width: 80%;
  margin: 0 auto;
  
}

.navbar-brand {
  font-size: 30px !important;
  color: white !important;
}

.logo-img {
  height: 100px;
  width: auto;
  top: -5px;
}

#navbarNav{
  margin-left: 0;
  position: absolute;
  right: 10px;

}
#navbarNav li {
  margin-left: 30px;
  font-size: 20px;

}



.wrapper h1{
  font-size: 48px;
  margin-bottom: 20px !important;
  color: rgb(69, 69, 69);
  text-align: center;

  
}

/* INFO TEXT */
.info {
  color: white;
  font-size: 24px;
  width: 60%;
  margin: 0 auto;

  
}


.ourTeam{
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* CARD */
.team-member {
  width: 350px;
  margin: 5px;
  padding: 20px 10px !important;
  border-radius: 30px;
  background-color: #c8c8c868;
  margin-top: 30px;
  margin-bottom: 60px;

}

/* IMAGES THE CIRCLE BEHIND IT */
.member-img{
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
}

/* image one */
.one, .two, .three{   
  width:400px;
  height: 400px;
  margin-top: -115px;
  margin-left: -110px;
  
 
}


/* NAMES */

h3{
  text-transform: uppercase;
  font-size:18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

/* JOB TITLE */
h4 {
  font-size: 12px;
  margin-bottom: 40px;
  color: var(--dark2);
  text-align: center;

}

/* JOB DESCRIPTION  */
p {
  /* margin-top: 100px; */
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: white;

}

/* SOCIAL MEDIA */

.Social-icons {
  text-align: center;
}

.Social-icons img{
  width: auto;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
}
.Social-icons img:hover{
  transform: scale(1.5); 
}


footer {
  font-size: 24px;
  position: absolute;
  width: 100%;
  left: 0;
  }