:root {
  --text: #DCCAE9;
  --softpurple: #A6A9C8;
  --text2: #D3D9E9;
  --dark: #31293F;
  --dark2: #272932;
  --middletone: #554D74;
  --button: #FFB6C1;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

.navbar {
  position: absolute;
  top: -50px;
  width: 80%;
  
}

.navbar-brand {
  font-size: 30px !important;
  color: white !important;
}

.logo-img {
  height: 100px;
  width: auto;
  top: -5px;
}

#navbarNav{
  margin-left: 0;
  position: absolute;
  right: 10px;

}
#navbarNav li {
  margin-left: 30px;
  font-size: 20px;

}


/* Jumbotron  */
.jumbotron {
  background-image: url(../images/image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.jumbotext {
  min-width: 700px;
  color: white;
  text-align: center !important;
  margin-bottom: 60px;
  font-weight: bold;
  
}

.jumbotext h1 {
  font-size: 80px;
  margin: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}


.jumbotext p {
  font-size: 24px;
  color: var(--dark);
}

/* search input style */

.input-group {
  border-radius: 50%;
  background: transparent !important;
  margin-bottom: 50px;
}

.form-control {
  height: 80px !important;
  border: none;
  border-radius: 50px !important;
  background: rgba(255, 255, 255, 0.3)!important;
  position: relative;
  color: white;
  text-align: center;
}


/* Button */

#searchButton{
  top:6px;
  transition: ease-in;
  border-radius: 50px !important;
  border: 1px solid var(--middletone);
  color: white;
  position: absolute;
  right: 10px;
  z-index: 100;
  padding: 20px;

}

#searchButton:hover{
  color: var(--text) !important;
  background-color: var(--dark);
  border: none;

}

.btn-group {
  position:absolute;
  left: 70px;
  cursor: pointer;
}


/* Grid styling */

.container-fluid {
  width: 90% !important;
}

.grid-gap {
  margin-top: 50px;
  overflow: hidden;
  object-fit: cover;
  width: 600px;
  height: auto;
}

.grid-videos {
  margin-top: 20px;
  overflow: hidden;
  object-fit: cover;
  width: 600px;

}

footer {
  font-size: 24px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top:60px ;
  }

